.ws-input {
  width: 264px;
  height: 18px;
  border: black solid 1px;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 12.5px 17px;
  /**font settings*/
  font-family: montserrat;
  font-size: 14px;
  text-transform: uppercase;
}

.ws-button {
  width: 298px;
  height: 43px;
  margin-top: 23px;
  margin-bottom: 8px;
  background-color: #FFFFFF;
  color: #FFD130;
  text-transform: uppercase;
  -webkit-text-stroke: 0.75px black;
  font-weight: bold;
  font-size: 20px;
  border-radius: 4px;
  box-shadow: 0 3px 10px rgb(0, 0, 0, 0.2);
  border: none;
}

.ws-button:hover{
  cursor: pointer;
  box-shadow: none;
}

.ws-hiperLink {
  height: 20px;
  margin-top: 12px;
  color: black;
}

.ws-hiperLink a{
  color: #777777;
  font-family: monospace;
  font-size: 16px;
}

.ws-hiperLink.selected a{
  color: black;

}

body{
  background-color: #F1F1F1;
}

.ws-hiperLink a:hover{
  color: #FFD130;
  -webkit-text-stroke: 0.5px black;
}