.pageHeading {
  padding-bottom: 125px;
  background-color: #f1f1f1;
  padding-top: 30px;
}

.top-header {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.logo-group {
  display: flex;
  justify-content: space-between;
  height: 60px;
  border-bottom: 1px solid #e3e3e3;
  margin-bottom: 30px;
}

.logo-group2 {
  display: flex;
  width: 185px;
  height: 34px;
  align-items: center;
}

.logo-group2 img {
  width: 31px;
  height: 15px;
}

.logo-group2 h1 {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 27px;
  text-transform: uppercase;
  white-space: nowrap;
  font-family: monospace;
}

.logo-group1 img {
  height: 15px;
  width: 15px;
}

.logo-group1 {
  margin-right: 60px;
  align-items: center;
  display: flex;
}

.logo-group3 {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-left: 40px;
}

.navBar {
  padding-top: 30px;
}

.navBarGroup {
  width: 450px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.promoHeader {
  display: flex;
  margin: 125px auto 0 auto;
  width: fit-content;
  width: 1200px;
}

.promoText h1 {
  color: #ffd130;
  font-size: 74px;
  -webkit-text-stroke: 0.75px black;
  white-space: nowrap;
  font-family: monospace;
  text-transform: uppercase;
  margin-top: 81px;
}

.promoText p {
  font-family: monospace;
  font-size: 30px;
  padding-top: 30px;
}

.promoText {
  margin-right: 114px;
}

.products {
  width: 1320px;
  margin: 95px auto 313px auto;
}

.productTitle h1 {
  font-family: monospace;
  font-size: 45px;
}

.productTitle {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  margin-bottom: 45px;
}

.categoryNavMenu {
  display: flex;
  gap: 40px;
  justify-content: space-between;
}

.productManipulations {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
}

.productDisplayGroup {
  background-color: #d9d9d9;
  width: 312px;
  height: 400px;
}

.productDisplay {
  padding: 47px 31px 47px 31px;
}

.lager {
  background-color: #1e2832;
  color: white;
  padding: 16px 10px;
  font-size: 16px;
  box-sizing: border-box;
  height: 56px;
  display: flex;
  justify-content: space-between;
  cursor: default;
  display: none;
}

.productCard:hover .lager {
  display: flex;
}

.lagerAction {
  display: flex;
  align-items: center;
  gap: 14px;
  cursor: pointer;
}

.productName h3 {
  font-family: monospace;
  font-size: 16px;
  color: #000000;
  text-transform: capitalize;
  margin-left: 10px;
  margin-top: 18px;
}

.product-type-price-group p {
  font-family: monospace;
  font-size: 16px;
  margin-left: 10px;
  justify-content: space-between;
}

.product-type-price-group {
  display: flex;
  justify-content: space-between;
}

.productCard {
  font-family: monospace;
  width: fit-content;
}

.product-type-price-group > .product-type {
  color: #777777;
}

.lagerInfo {
  align-items: center;
  display: flex;
}

.productName {
  margin-bottom: 15px;
}

.footer {
  background-color: #ffd130;
  padding: 21px 300px;
}

.footer .logo-group2 {
  margin-top: 21px;
  margin-bottom: 29px;
}

.footer p {
  font-size: 15px;
  font-family: monospace;
  width: 367px;
  margin-bottom: 38px;
}

.footerImgGroup {
  display: flex;
  gap: 36px;
  align-items: center;
}

.footerImgGroup img:nth-child(2) {
  height: 12.57px;
}

.footerImgGroup img:nth-child(1) {
  height: 15px;
}

.footerImgGroup img:nth-child(3) {
  height: 15px;
}

.copyright {
  background-color: #1e2832;
  color: white;
  font-size: 14px;
  padding: 13.5px 300px;
  display: flex;
  gap: 388px;
  align-items: center;
}

.productsGrid {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.productFilterOption label {
  font-size: 16px;
  font-weight: 600;
}

.productFilterOption {
  display: flex;
  align-items: center;
  font-family: monospace;
  justify-content: space-between;
}

.filterValues {
  gap: 50px;
  display: flex;
}

.filterValues :first-child {
  margin-right: 15px;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: #77777757;
}

.modal {
  position: fixed;
  z-index: 200;
  top: 40%;
  left: 40%;
  width: 20%;
  background-color: rgb(231, 231, 231);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  padding: 27px 19px;
  border-radius: 20px;
  background-color: #ffd130;
  font-family: monospace;
}

.modal button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.modal h1 {
  font-size: 16px;
  font-weight: 600;
}

.addProductTitle {
  border-bottom: 2px solid #7c7c7c;
  padding-bottom: 24px;
  margin-bottom: 20px;
}


.modal input {
  font-family: monospace;
}

.addProductImage {
  width: 48px;
  height: 48px;
  background-color: white;
  border-radius: 6px;
  display: flex;
  align-items: center;
}

.addProductImage img {
  width: 39px;
  height: 39px;
  margin-left: auto;
  margin-right: auto;
}

.addProductImageGroup {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  gap: 13px;
  margin-bottom: 25px;
}
